$blue = #0084fa
$dark-blue = #0070d3
$pink = #bc0087
$dark-pink = #96006B
$orange = #fa9a00
$dark-orange = #d38200
$cyan = #32d0d3
$dark-cyan = #29abad
$gray = #bfbfbf
$dark-gray = #5b5b5b
$white = #ffffff
