.submit-button
	display block
	color #fff
	cursor pointer
	background-color $blue
	border none
	border-radius 10px
	font-size 12pt
	padding 10px
	min-width 100px
	text-align center

.hide
	display none
